# Prueba de Errores Semanticos (Nivel 3) para Huawei
system-view
sysname SwitchTest
#
# 1. Error: Uso de VLAN no declarada
interface GigabitEthernet0/0/1
port link-type access
port default vlan 88
#
interface GigabitEthernet0/0/2
port link-type trunk
port trunk allow-pass vlan 77,88
#
# 2. Error: IPs duplicadas en distintas interfaces
interface GigabitEthernet0/0/3
ip address 10.0.0.1 255.0.0.0
interface GigabitEthernet0/0/4
ip address 10.0.0.1 255.0.0.0
#
# 3. Error: Uso de ACL no declarada
interface GigabitEthernet0/0/5
traffic-filter inbound acl 3099
#
